# 忽略系统生成的文件 #
###############################
.DS_Store                # macOS 系统文件
Thumbs.db                # Windows 系统文件
desktop.ini

# Python #
###############################
__pycache__/             # Python 编译文件夹
*.pyc                   # Python 编译文件
*.pyo
*.pyd

# Node.js #
###############################
node_modules/

# 编辑器临时文件 #
###############################
.vscode/
*.swp                   # Vim 临时文件
*.swo
*.swn

# 操作系统临时文件 #
###############################
*.log
*.bak
*.backup
*.old

# 依赖管理 #
###############################
pip-log.txt
pipenv/
Pipfile.lock

# 数据库 #
###############################
*.sqlite
*.db
*.sql

# 构建输出 #
###############################
build/
dist/
library/chrome
*.egg-info/

# Jupyter Notebooks #
###############################
.ipynb_checkpoints/

# 已经存在的文件 #
###############################
.env                    # 环境变量文件
.env.local              # 本地环境变量文件

# 其他个性化配置 #
###############################
*.config                # 自定义配置文件
